<div class="df">
    <app-amrr-page-header [title]="'Stock Outward'"
        (onActionClicked)="formService.navigateToAddOutward()"></app-amrr-page-header>
    <div class="grid-container">
        <app-amrr-report-filters [transactionTypeId]="2"
            (onViewClicked)="formService.getData($event)"></app-amrr-report-filters>
        <mat-divider></mat-divider>
        <app-ammr-grid [columns]="formService.columns" [dataSource]="formService.dataSource"
            [loading]="formService.loading" (onEdit)="formService.edit($event)"
            (onDelete)="formService.delete($event)"></app-ammr-grid>
    </div>
</div>

<ng-template #partyNameTemplate let-row="row">
    <div>
        <div>{{row['deliveryChallan']}}</div>
        <div>{{row['partyName']}}</div>
        <div>{{row['vehicleName']}}</div>
        <div>{{row['vehicleRegNo']}}</div>
    </div>
</ng-template>
<ng-template #dateTemplate let-row="row">
    <div>
        <div> {{row['inwardDate'] | date : 'dd/MM/yyyy H:mm:ss'}} </div>
        <div> {{row['transactionId'] ? '#' + row['transactionId'] : row['transactionId']}} </div>
    </div>
</ng-template>
<ng-template #userTemplate let-row="row">
    <div class="user-info-div">
        <div class="user-chip bg-green">{{row['createdBy']}}</div>
        <div class="user-chip bg-blue" *ngIf="row['updatedBy']">{{row['updatedBy']}}</div>
    </div>
</ng-template>