<div class="main-router-outlet-container">
    <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="example-sidenav" mode="side">
            <div>
                <img class="logo" src="../assets/images/amrr-logo.jpg" alt="company-logo">
            </div>
            <div class="welcome-message center-align dp">
                <h3>Welcome, {{authService.getUserName()}}!</h3>
            </div>
            <div class="menu-container">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon aria-hidden="false" aria-label="stock transactions"
                                fontIcon="local_shipping"></mat-icon>
                        </mat-panel-title>
                        <mat-panel-description>
                            Stock Transaction
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-selection-list #shoes [multiple]="false">
                        <a [routerLink]="['stockInward']"><mat-list-item role="listitem"
                                routerLinkActive="route-active">Inward</mat-list-item></a>
                        <a [routerLink]="['stockOutward']"><mat-list-item role="listitem"
                                routerLinkActive="route-active">Outward</mat-list-item></a>
                        <a [routerLink]="['stockAdjustment']"><mat-list-item role="listitem"
                                routerLinkActive="route-active">Adjustment</mat-list-item></a>
                    </mat-selection-list>
                </mat-expansion-panel>
                <mat-expansion-panel *ngIf="authService.isLoggedInUserAdmin()">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon aria-hidden="false" aria-label="Settings and master data"
                                fontIcon="settings"></mat-icon>
                        </mat-panel-title>
                        <mat-panel-description>
                            Control Panel
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-selection-list>
                        <mat-list-item role="listitem" style="padding: 0 !important;"
                            [ngClass]="{'master-panel-open' : panelOpenState}">
                            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-description> Masters </mat-panel-description>
                                </mat-expansion-panel-header>
                                <mat-selection-list>
                                    <a [routerLink]="['itemGroup']">
                                        <mat-list-item role="listitem" routerLinkActive="route-active">Item
                                            Group</mat-list-item></a>
                                    <a [routerLink]="['item']"><mat-list-item role="listitem"
                                            routerLinkActive="route-active">Item</mat-list-item></a>
                                    <a [routerLink]="['godown']"><mat-list-item role="listitem"
                                            routerLinkActive="route-active">Godown</mat-list-item></a>
                                    <a [routerLink]="['bay']"><mat-list-item role="listitem"
                                            routerLinkActive="route-active">Bay</mat-list-item></a>
                                    <a [routerLink]="['user']"><mat-list-item role="listitem"
                                            routerLinkActive="route-active">User
                                            Management</mat-list-item></a>
                                    <a [routerLink]="['accessLogs']"><mat-list-item role="listitem"
                                            routerLinkActive="route-active">Access logs</mat-list-item></a>
                                </mat-selection-list>
                            </mat-expansion-panel>
                        </mat-list-item>
                        <a [routerLink]="['changePassword']"><mat-list-item role="listitem"
                                routerLinkActive="route-active">Change Password</mat-list-item></a>
                        <a href="#"><mat-list-item role="listitem">Settings</mat-list-item></a>
                    </mat-selection-list>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon aria-hidden="false" aria-label="Reports" fontIcon="analytics"></mat-icon>
                        </mat-panel-title>
                        <mat-panel-description>
                            Reports
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-selection-list #shoes [multiple]="false">
                        <a [routerLink]="['reports','consolidatedStock']"><mat-list-item role="listitem"
                                routerLinkActive="route-active">Consolidated
                                Stock</mat-list-item></a>
                        <a [routerLink]="['reports','consolidatedStockByItemGroup']"><mat-list-item role="listitem"
                                routerLinkActive="route-active">CSR by Item group</mat-list-item></a>
                        <a [routerLink]="['reports','batchwiseStock']"><mat-list-item role="listitem"
                                routerLinkActive="route-active">Batchwise Stock</mat-list-item></a>
                        <a [routerLink]="['reports','itemMovement']"><mat-list-item role="listitem"
                                routerLinkActive="route-active">Item Movement
                                Analysis</mat-list-item></a>
                        <a [routerLink]="['reports','allTransactions']"><mat-list-item role="listitem"
                                *ngIf="authService.isLoggedInUserAdmin()" routerLinkActive="route-active">All
                                Transactions</mat-list-item></a>
                    </mat-selection-list>
                </mat-expansion-panel>
                <mat-expansion-panel [hideToggle]="true" (click)="logOut()">
                    <mat-expansion-panel-header [expandedHeight]="'48px'" [collapsedHeight]="'48px'">
                        <mat-panel-title>
                            <mat-icon aria-hidden="false" aria-label="Reports" fontIcon="logout"></mat-icon>
                        </mat-panel-title>
                        <mat-panel-description>Logout </mat-panel-description>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
            </div>
        </mat-drawer>
        <div style="position: sticky;        top: 0;        z-index: 999;">
            <mat-toolbar style="z-index:999">
                <mat-icon aria-hidden="false" aria-label="Toggle side menu" fontIcon="menu"
                    (click)="drawer.toggle()"></mat-icon>
            </mat-toolbar>
        </div>
        <router-outlet></router-outlet>
    </mat-drawer-container>
</div>