.stock-inward-container{
    padding: 15px;
}

.title-container{
    display: flex;
    justify-content: space-between;
}

.grid-container {
    margin: 15px 0;
    border: 2px solid lightgray;
    padding: 15px;
    border-radius: 5px;
}