table {
  width: 100%;
}

.mat-mdc-cell,
.mat-mdc-header-cell {
  vertical-align: middle;
}

.auto-height {
  height: auto !important;
}

.table-actions {
  height: 85px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (min-width: 670px) and (max-width: 730px) {
  .table-actions {
    height: 16vh;
    gap: 10px;
    flex-direction: column;
    justify-content: unset;
  }

  .table-actions div mat-form-field {
    width: 84vw;
  }
}

@media (max-width: 669px) {
  .table-actions {
    height: 16vh;
    gap: 10px;
    flex-direction: column;
    justify-content: unset;
  }

  .table-actions div mat-form-field {
    width: 60vw;
  }
}

.amrr-table-container table,
.amrr-table-container table thead,
.amrr-table-container table th,
.amrr-table-container table td {
  border: 1px solid #dee2e6;
  border-collapse: collapse;
}

.mat-col-string {
  text-align: left !important;
  justify-content: flex-start !important;
}

.mat-col-number {
  text-align: right !important;
  justify-content: flex-end !important;
}
