table {
  width: 100%;
}

.mat-mdc-cell,
.mat-mdc-header-cell {
  vertical-align: middle;
}

.amrr-table-container {
  margin-top: 10px;
  overflow: auto;
  padding: 0 15px;
}

.auto-height {
  height: auto !important;
}

.table-actions {
  height: 85px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (min-width: 670px) and (max-width: 730px) {
  .table-actions {
    height: 16vh;
    gap: 10px;
    flex-direction: column;
    justify-content: unset;
  }

  .table-actions div mat-form-field {
    width: 84vw;
  }
}

@media (max-width: 669px) {
  .table-actions {
    height: 16vh;
    gap: 10px;
    flex-direction: column;
    justify-content: unset;
  }

  .table-actions div mat-form-field {
    width: 60vw;
  }
}
