<div>
    <form *ngIf="formService.batchForm" [formGroup]="formService.batchForm">
        <div class="form-container">
            <app-amrr-select-with-search [title]="'Destination'" [ctrl]="formService.batchForm.controls.godown"
                [options]="formService.godowns"></app-amrr-select-with-search>
            <app-amrr-select-with-search [title]="'Bay'" [ctrl]="formService.batchForm.controls.bay"
                [options]="formService.bays"></app-amrr-select-with-search>
            <app-amrr-select-with-search [title]="'Item Name'" [ctrl]="formService.batchForm.controls.item"
                [options]="formService.items"></app-amrr-select-with-search>
            <app-amrr-select-with-search [title]="'Batch Type'" [ctrl]="formService.batchForm.controls.batchType"
                [options]="formService.batchTypes"></app-amrr-select-with-search>
            <app-amrr-select-with-search
                *ngIf="formService.batchForm.controls.batchType?.value?.id === 2; else newBatchTemplate"
                [title]="'Batch No.'" [ctrl]="formService.batchForm.controls.batch"
                [options]="formService.batches"></app-amrr-select-with-search>
            <ng-template #newBatchTemplate>
                <mat-form-field>
                    <mat-label>Batch No.</mat-label>
                    <input matInput [formControl]="formService.batchForm.controls.batchName">
                    <mat-error *ngIf="formService.batchForm.controls.batchName.hasError('InvalidValue')">Invalid
                        value</mat-error>
                    <mat-error *ngIf="formService.batchForm.controls.batchName.hasError('BatchExists')">Batch already
                        exists</mat-error>
                </mat-form-field>
            </ng-template>
            <mat-form-field>
                <mat-label>No. of Bags
                    {{formService.transactionBatchService.getSelectedBatch(formService.batchForm.controls.batch.value).bags}}</mat-label>
                <input matInput [formControl]="formService.batchForm.controls.bags" required>
                <mat-icon color="primary" matSuffix>shopping_bag</mat-icon>
                <mat-error *ngIf="formService.batchForm.controls.bags.hasError('InvalidValue')">Invalid
                    value</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Qty
                    {{formService.transactionBatchService.getSelectedBatch(formService.batchForm.controls.batch.value).qty}}</mat-label>
                <input matInput [formControl]="formService.batchForm.controls.qty" required>
                <mat-icon color="primary" matSuffix>weight</mat-icon>
                <mat-error *ngIf="formService.batchForm.controls.qty.hasError('InvalidValue')">Invalid value</mat-error>
            </mat-form-field>
            <button mat-flat-button color="primary" (click)="formService.addBatch()">Add</button>
        </div>
    </form>
</div>
<div class="batch-grid-container">
    <app-ammr-grid [columns]="formService.columns" [dataSource]="formService.transactionBatchService.dataSource"
        [enableEdit]="false" [autoHeight]="true" [allowFilter]="false" [allowPagination]="false"
        (onDelete)="formService.removeBatch($event)"></app-ammr-grid>
</div>