.green {
  color: #28a745 !important;
}

.red {
  color: #ff0000 !important;
}

.qtyText {
  text-align: right;
  font-size: 17px !important;
}

.bagText {
  font-size: 14px !important;
  color: #606060;
}
