<div class="bg">
    <app-amrr-page-header [title]="'Stock Adjustment'" [actionName]="''"></app-amrr-page-header>
    <form *ngIf="formService.form" [formGroup]="formService.form" autocomplete="off">
        <div class="first-row">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Transaction Details</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-form-field appearance="outline">
                        <mat-label>Transaction Date</mat-label>
                        <input matInput formControlName="outwardDate" [matDatepicker]="fromDatePicker">
                        <mat-datepicker-toggle matIconSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #fromDatePicker> </mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Transaction No.</mat-label>
                        <input matInput formControlName="outwardNo">
                    </mat-form-field>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="inward-items-editor-container">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Adjustment Items</mat-card-title>
                </mat-card-header>
                <mat-card-content class="batch-card-content">
                    <app-stock-adjustment-transaction-batch [batches]="formService.batches"
                        (onBatchUpdate)="formService.onBatchUpdate($event)"></app-stock-adjustment-transaction-batch>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="last-row">
            <mat-card>
                <mat-card-content>
                    <div class="last-row-controls">
                        <mat-form-field appearance="outline">
                            <mat-label>Remarks</mat-label>
                            <input matInput formControlName="remarks">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Verified By</mat-label>
                            <input matInput formControlName="verifiedBy">
                        </mat-form-field>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <mat-divider></mat-divider>
        <div class="action-row">
            <button mat-flat-button color="primary" (click)="formService.addTransaction()">Save</button>
            <button mat-flat-button color="primary" (click)="formService.addTransactionAndClose()">Save &
                Continue</button>
            <button mat-flat-button color="secondary" (click)="formService.cancel()">Close</button>
        </div>
    </form>
</div>