.first-row {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin: 0 0 15px 5px;
}

.first-row mat-card {
  width: 30vw !important;
}

.last-row {
  padding: 15px 0 !important;
}

.last-row-controls {
  display: flex;
  gap: 5px;
}