<div>
    <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="example-sidenav" mode="side">
            <div>
                <img src="../assets/images/amrr-logo.png" alt="company-logo">
            </div>
            <div class="welcome-message center-align dp">
                <h3>Welcome {{username}}</h3>
            </div>
            <div class="tree-container">
                <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                    <!-- This is the tree node template for leaf nodes -->
                    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                        <!-- use a disabled button to provide padding for tree leaf -->
                        <button mat-icon-button disabled></button>
                        {{node.name}}
                    </mat-tree-node>
                    <!-- This is the tree node template for expandable nodes -->
                    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                                <mat-icon class="mat-icon-rtl-mirror">
                                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                </mat-icon>
                        </button>
                        <span>{{node.name}}</span>

                    </mat-tree-node>
                </mat-tree>
            </div>
        </mat-drawer>

        <div class="menu-icon-container">
            <mat-icon aria-hidden="false" aria-label="Toggle side menu" fontIcon="menu"
                (click)="drawer.toggle()"></mat-icon>
        </div>

        <div class="center-align">
            <button mat-icon-button (click)="getData()"> <mat-icon class="mat-icon-rtl-mirror" fontIcon="cached"></mat-icon>Get data</button>
        </div>

        <div class="center-align">
            {{(data !== null || data !== undefined) ? (data | json) : 'Loading'}}
        </div>

    </mat-drawer-container>
</div>