<div class="change-pwd-form-container">
    <div>
        <h2>Change Password</h2>
    </div>
    <form class="example-form" *ngIf="changePwdForm" [formGroup]="changePwdForm" autocomplete="off">
        <mat-card-content>
            <div class="creds-form-container">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Username" [formControl]="changePwdForm.controls.userName">
                    <mat-icon color="primary" matSuffix>person</mat-icon>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password" type="password"
                        [formControl]="changePwdForm.controls.password">
                    <mat-icon color="primary" matSuffix>lock</mat-icon>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="New Password" type="password"
                        [formControl]="changePwdForm.controls.newPassword">
                    <mat-icon color="primary" matSuffix>lock</mat-icon>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Confirm New Password" type="password"
                        [formControl]="changePwdForm.controls.confirmNewPassword">
                    <mat-icon color="primary" matSuffix>lock</mat-icon>
                    <mat-error
                        *ngIf="changePwdForm?.controls?.confirmNewPassword?.errors && changePwdForm.controls.confirmNewPassword.errors!['passwordsNotMatching']">New
                        password and Confirm password are not matching</mat-error>
                </mat-form-field>
            </div>
        </mat-card-content>
        <div class="actions-container">
            <button mat-raised-button color="primary" (click)="changePwd()">Change Password</button>
        </div>
    </form>
</div>