    <mat-form-field *ngIf="ctrl" class="typeahead-form-field">
        <mat-label>{{title}}</mat-label>
        <input type="text" aria-label="typeahead" matInput [formControl]="ctrl" [matAutocomplete]="auto">
        <mat-error *ngIf="ctrl.hasError('InvalidValue')">Invalid value</mat-error>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.id">
                {{option.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>