<div class="login-wrapper">
    <mat-card class="box">
        <form class="example-form">
            <mat-card-content>
                <div class="creds-form-container">
                    <p style="color: white"> Note : Login not yet implemented. Click to 'Login' get in and view the UI
                    </p>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Username">
                        <mat-icon color="primary" matSuffix>person</mat-icon>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Password" type="password">
                        <mat-icon color="primary" matSuffix>lock</mat-icon>
                    </mat-form-field>
                </div>
            </mat-card-content>
            <div class="actions-container">
                <button mat-raised-button color="primary" (click)="login()">Log in</button>
            </div>
        </form>
    </mat-card>
</div>