<div class="df">
    <app-amrr-page-header [title]="'Stock Adjustment'"
        (onActionClicked)="formService.navigateToAddAdjustment()"></app-amrr-page-header>
    <div class="grid-container">
        <app-amrr-report-filters [transactionTypeId]="3"
            (onViewClicked)="formService.getData($event)"></app-amrr-report-filters>
        <mat-divider></mat-divider>
        <app-ammr-grid [columns]="formService.columns" [dataSource]="formService.dataSource"
            (onEdit)="formService.edit($event)" (onDelete)="formService.delete($event)"></app-ammr-grid>
    </div>
</div>