<div style="width: 30vw">
    <h2 mat-dialog-title>
        {{
        formService.data && formService.data.id !== null
        ? 'Edit Bay'
        : 'New Bay' }}
    </h2>
    <div mat-dialog-content>
        <form *ngIf="formService.form" [formGroup]="formService.form" autocomplete="off">
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Bay Name</mat-label>
                    <input matInput [formControl]="formService.form.controls.name" required>
                </mat-form-field>
            </div>
            <div>
                <app-amrr-typeahead-multiselect [title]="'Godown'" [ctrl]="formService.form.controls.godowns"
                    [options]="formService.godowns" #multiselect></app-amrr-typeahead-multiselect>
            </div>
            <div>
                <mat-slide-toggle formControlName="isActive"> Status </mat-slide-toggle>
            </div>
        </form>
    </div>
    <div mat-dialog-actions>
        <mat-divider></mat-divider>
        <div style="width: 100%;        display: flex;        justify-content: end;">
            <button mat-flat-button color="primary" (click)="formService.addBay()">Save</button>
            <button mat-flat-button color="primary" (click)="formService.addBayAndClose()">Save &
                Continue</button>
            <button mat-flat-button color="secondary" (click)="formService.cancel()">Close</button>
        </div>
    </div>
</div>